 body
{
	font-family: "Arial";
	font-size: 16px;
	font: white;
	background: #FF00FF;

}

.project-1 h1, h2, h3
{
	font-family: "Arial";
	margin: 0;
  
}

.project-1  h2, h3
{
	display: inline-block;
}

.project-1  li
{
	font-style: italic;
}

.project-1 .standard-paragraph
{
	width: 575px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-1  .me-name-text
{
	font-weight: bold;
}

.project-1  .me-image-with-caption
{
	margin-right: 20px;
	height: 220px;
}

.project-1  .me-caption
{
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

.project-1 .IMG_1779-image
{
	display: inline-block;
	vertical-align: left;
	border: 2px solid black;
	background-image: url('IMG_1779.jpg');
	background-size: 200px 200px;
	background-repeat: no-repeat;
	width: 400px;
	height: 400px;
	margin-left: 20px;
}

.project-1 .projects
{
	display: table;
	border: 2px solid white;
	margin-bottom: 20px;
	margin-left: 20px;
}

.project-1  .projects .project .name
{
	margin-left: 5px;
	width: 140px;
	border-right: 1px solid white;
	display: inline-block;
}

.project-1 .projects .project .desc
{
	margin-left: 5px;
	display: inline-block;
}
